<div class="flex flex-row flex-wrap gap-5 justify-items-center">
    <%= for light <- @lights.reachable do %>
        <.light_switch 
            id={light.id} 
            on={light.state.on} 
            name={light.name} />
    <% end %>

</div>

<.unreachable_lights lights={@lights.unreachable} />